/* Growth Simulator Specific Styles */
.growth-simulator-page input[type=number]::-webkit-inner-spin-button, 
.growth-simulator-page input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}
